body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
    font-family: 'Lobster', cursive;
    color:indianred;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.card-header {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: salmon;
}

dt {
    color: pink;
}

dl {
    color: indianred;
}

h2 {
    color: salmon;
}

p {
    color: salmon;
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(linen, salmon);
    padding: 20px 0;
    margin-top: 2rem;
    color: indianred;
}

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

i {
    color: indianred;
}

.navbar-dark {
    background-image: linear-gradient(to right, linen, salmon);
    margin-bottom: 2rem;
    min-height: 8rem;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}
